{% extends 'base.html' %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Seleccione una Sucursal</h1>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    {% for sucursal in sucursales %}
    <a href="{% url 'sales:realizar_venta' sucursal.id %}" class="block bg-green-500 text-white px-4 py-2 rounded shadow hover:bg-green-700 text-center">
        {{ sucursal.nombre }}
    </a>
    {% endfor %}
</div>

</div>
<div class="my-4">
    <a href="{% url 'home' %}" class="px-4 py-2 bg-gray-600 text-white rounded hover:bg-gray-700">
        Volver al Inicio
    </a>
</div>
{% endblock %}
