{% extends 'base.html' %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Módulo de Ventas</h1>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <a href="{% url 'sales:ventas_list' %}" class="block bg-blue-500 text-white px-4 py-2 rounded shadow hover:bg-blue-700 text-center">
        Ver Historial de Ventas
    </a>

    {% for sucursal in sucursales %}
    <a href="{% url 'sales:realizar_venta' sucursal.id %}" class="block bg-green-500 text-white px-4 py-2 rounded shadow hover:bg-green-700 text-center">
        Realizar Venta - {{ sucursal.nombre }}
    </a>
    {% endfor %}

    <a href="{% url 'sales:crear_pedido' %}" class="block bg-yellow-500 text-white px-4 py-2 rounded shadow hover:bg-yellow-700 text-center">
        Crear Pedido
    </a>

    <a href="{% url 'sales:seguimiento' %}" class="block bg-gray-500 text-white px-4 py-2 rounded shadow hover:bg-gray-700 text-center">
        Seguimiento de Pedidos
    </a>

    <a href="{% url 'sales:medicamentos_list' %}" class="block bg-blue-500 text-white px-4 py-2 rounded shadow hover:bg-blue-700 text-center">
        Ver Lista de Medicamentos
    </a>


</div>
<div class="my-4 text-center">
    <a href="{% url 'sales:seleccionar_sucursal' %}" class="px-6 py-3 bg-green-600 text-white text-lg rounded hover:bg-green-800">
        Agregar Venta
    </a>
</div>

<div class="mt-4 text-center">
                <button type="button" onclick="history.back()"
                    class="text-blue-600 hover:underline">Volver a la página anterior</button>
</div>

{% endblock %}
