{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<h1 class="text-xl font-bold mb-4">Iniciar Sesión</h1>
  {% if messages %}
    {% for message in messages %}
        <div class="p-2 rounded mb-4 {% if message.tags == 'error' %} bg-red-500 text-white {% elif message.tags == 'success' %} bg-green-500 text-white {% endif %}">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
<form method="post" action="{% url 'accounts:login' %}" class="bg-white shadow-md rounded p-6">
    {% csrf_token %}
    <div class="mb-4">
        <label for="username" class="block text-gray-700">Usuario:</label>
        <input type="text" id="username" name="username" class="border rounded w-full py-2 px-3" required>
    </div>
    <div class="mb-4">
        <label for="password" class="block text-gray-700">Contraseña:</label>
        <input type="password" id="password" name="password" class="border rounded w-full py-2 px-3" required>
    </div>
    <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Iniciar Sesión</button>

    <div class="my-4">
    <a href="{% url 'accounts:register' %}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">
        Registrarse
    </a>
    </div>

</form>
    <div class="my-4">
    <a href="{% url 'home' %}" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
        Volver al Inicio
    </a>
</div>
{% endblock %}

