{% extends 'base.html' %}

{% block title %}Inventario{% endblock %}

{% block content %}
<h2 class="text-xl font-bold mb-4">Lista de Medicamentos</h2>

<!-- Formulario de filtro -->
<form method="GET" action="{% url 'inventory:inventario_list' %}" class="mb-4 flex items-center space-x-2">
    <label for="sucursal" class="text-gray-700 font-semibold">Filtrar por Sucursal:</label>
    <select name="sucursal" id="sucursal" class="border p-2 rounded">
        <option value="">-- Todas las Sucursales --</option>
        {% for sucursal in sucursales %}
            <option value="{{ sucursal.id }}" {% if sucursal.id|stringformat:"s" == sucursal_id %}selected{% endif %}>
                {{ sucursal.nombre }}
            </option>
        {% endfor %}
    </select>
    <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
        Filtrar
    </button>
</form>
    
<table class="table-auto w-full border-collapse border border-gray-200">
    <thead>
        <tr class="bg-gray-100">
            <th class="border px-4 py-2">Nombre</th>
            <th class="border px-4 py-2">Stock</th>
            <th class="border px-4 py-2">Precio</th>
            {% if user.is_authenticated and user.is_superuser %}
            <th class="border px-4 py-2">Acciones</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>

        {% for medicamento in medicamentos %}
        <tr>
            <td class="border px-4 py-2">{{ medicamento.nombre }}</td>
            <td class="border px-4 py-2">{{ medicamento.stock }}</td>
            <td class="border px-4 py-2">{{ medicamento.precio }}</td>
            {% if user.is_authenticated and user.is_superuser %}
            <td class="border px-4 py-2">
                <!-- Acciones (editar o eliminar) -->
                <a href="{% url 'inventory:update_medicamento' medicamento.id %}" class="text-blue-500">Editar</a>
            </td>
            {% endif %}
        </tr>
        {% empty %}

        <tr>
            <td colspan="4" class="text-center text-gray-500">No hay medicamentos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="my-4">
    <a href="{% url 'home' %}" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700">
        Volver al Inicio
    </a>
</div>
<a href="{% url 'inventory:add_medicamento' %}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 inline-block mt-4">Añadir Medicamento</a>
{% endblock %}



