{% extends 'base.html' %}

{% block title %}Añadir Medicamento{% endblock %}

{% block content %}
<section class="container mx-auto mt-8">
    <h2 class="text-2xl font-bold mb-6 text-center">Añadir Medicamento</h2>

    <form method="post" class="bg-white shadow-md rounded p-6 max-w-lg mx-auto">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="flex justify-end mt-4">
            <button type="submit" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700 transition-all duration-300">
                Guardar
            </button>
            <a href="{% url 'inventory:inventario_list' %}" class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-700 transition-all duration-300 ml-4">
                Cancelar
            </a>
        </div>
    </form>
</section>
{% endblock %}
